<div class="text-center">
  <h1>{{lesson?.description}}</h1>
  <p class="lead">{{lesson?.longDescription}}</p>
</div>
<div class="row lessons-pagination">
  <div class="col-sm-6">
    <button (click)="previous()">Previous video</button>
  </div>
  <div class="col-sm-6">
    <button class="pull-right" (click)="next()">Next video</button>
  </div>
</div>
<div class="row">
  <!-- YOUTUBE VIDEO RESPONSIVE-->
  <div class="well col-md-12 block-center">
    <div class="flex-video widescreen">
      <iframe *ngIf="lesson?.videoUrl" allowfullscreen="true" [src]="lesson.videoUrl | safeUrl" frameborder="0">
      </iframe>
    </div>
  </div>
</div>