<div class="panel-body">
  <h3>Add New Lesson</h3>
  <form class="form-horizontal" ngNoForm autocomplete="off" novalidate>
    <div class="form-group">
      <label class="col-sm-3 control-label">Description:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" />
        <span class="field-error-message">required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Lesson URL:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" />
        <span class="field-error-message">required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Video URL:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" />
        <span class="field-error-message">required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">TAGS:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" />
        <span class="field-error-message">required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Long Description:</label>
      <div class="col-sm-9">
        <textarea class="form-control"></textarea>
        <span class="field-error-message">required</span>
      </div>
    </div>

  </form>
</div>