<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="home">AngularFire App</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="courses" routerLinkActive="active">Courses</a></li>
      <li><a routerLink="login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="register" routerLinkActive="active">Register</a></li>
    </ul>
    <div class="navbar-header navbar-right">
      <p class="navbar-text">
        <a class="navbar-link">Profile</a>
      </p>
    </div>
  </div>
</nav>
