<div class="row next-article">
  <div class="col-sm-6">
    <button>Previous</button>
  </div>
  <div class="col-sm-6">
    <button class="pull-right">Next</button>
  </div>
</div>
<article class="row">
  <div class="col-sm-4">
    <a href="courses/{{(course$ | async)?.url}}" class=""><img src="{{(course$ | async)?.courseListIcon}}" width="250" class="img-responsive" /></a>
  </div>
  <div class="col-sm-8">
    <h3 class="title">{{(course$ | async)?.description}}</h3>
    <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
    <p>{{(course$ | async)?.longDescription}}</p>

    <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

  </div>
</article>
<article class="row">
  <lessons-list [lessons]="lessons$ | async"></lessons-list>
</article>