<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading c-list">
        <span class="title">Lessons ({{lessons?.length}})</span>
      </div>

      <ul class="list-group" id="contact-list">
        <li class="list-group-item" *ngFor="let lesson of lessons">
            <div class="col-sm-8">
                <p>{{lesson.description}}</p>
            </div>
            <div class="col-sm-4">
                <span>{{lesson.duration}}</span>
            </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</div>